<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Form</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- End Header -->

    <!-- Process HTML Page -->
    <form action="#" th:action="@{/process_car}" th:object="${car}" method="post">
        <input type="hidden" th:field="*{carID}">

        Make: <input type="text" th:field="*{carMake}"><br />
        <span th:if="${#fields.hasErrors('carMake')}" th:errors="*{carMake}"></span><br />

        Model: <input type="text" th:field="*{carModel}"><br />
        <span th:if="${#fields.hasErrors('carModel')}" th:errors="*{carModel}"></span><br />


        <select name="category" th:field="*{category}">
            <option th:each="category : ${categorys}"
                    th:value="${category.categoryID}"
                    th:text="${category.categoryName}">
            </option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <!-- End Process HTML Page-->

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- End Footer -->

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:replace="base :: jsFooter"></div>
    <!-- END JS code -->
</body>
</html>