<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">
        <!-- Header -->
        <div th:replace="base :: header"></div>
        <!-- End Header -->

        <!-- Process HTML Page -->
        <br />
        <h3>Cars</h3>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-md-2">
                <span><b>Make</b></span>
            </div>
            <div class="col-md-2">
                <span><b>Model</b></span>
            </div>
            <div class="col-md-2">
                <span></span>
            </div>
            <div class="col-md-6">
                <span><b>Options</b></span>
            </div>
        </div>
        <div th:each="car : ${cars}" >
            <div class="row">
                <div class="col-md-2">
                    <span th:text="${car.carMake}"></span>
                </div>
                <div class="col-md-2">
                    <span th:text="${car.carModel}"></span>
                </div>
                <div class="col-md-2">
                    <span>&#9670;</span>
                </div>
                <div class="col-md-2">
                    <a th:href="@{update_car/{id}(id=${car.carID})}">Update</a>
                </div>
                <div class="col-md-2">
                    <a th:href="@{detail_car/{id}(id=${car.carID})}">Details</a>
                </div>
                <div class="col-md-2">
                    <a th:href="@{delete_car/{id}(id=${car.carID})}">Delete</a>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:replace="base :: jsFooter"></div>
    <!-- END JS code -->
</body>
</html>