<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">
        <!-- Header -->
        <div th:replace="base :: header"></div>
        <!-- End Header -->

        <!-- Process HTML Page -->
        <!-- <table>
            <tr th:each="category : ${categorys}">
                <td th:text="${category.categoryName}"></td>
                <td>
                    <a th:href="@{update/{id}(id=${category.categoryID})}">Update</a>
                    <a th:href="@{detail/{id}(id=${category.categoryID})}">Details</a>
                    <a th:href="@{delete/{id}(id=${category.categoryID})}">Delete</a>
                </td>
            </tr>
        </table> -->
        <br />
        <h3>Category</h3>
        <br />
        <div th:each="category : ${categorys}" >
            <div class="row">
                <div class="col-md-3">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <div class="col-md-3">
                    <a th:href="@{update/{id}(id=${category.categoryID})}">Update</a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{detail/{id}(id=${category.categoryID})}">Details</a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{delete/{id}(id=${category.categoryID})}">Delete</a>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <span th:text="${category.description}"></span>
                </div>
            </div>
        </div>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:replace="base :: jsFooter"></div>
    <!-- END JS code -->
</body>
</html>