<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Car</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">
        <!-- Header -->
        <div th:replace="base :: header"></div>
        <!-- End Header -->

        <!-- Process HTML Page -->
        <br />
        <h3>Cars</h3>
        <br />
        <div class="row">
            <div class="col-md-1"><b>Make:</b></div>
            <div class="col-md-5"><span th:text="${car.carMake}"></span></div>
            <div class="col-md-1"><b>Model:</b></div>
            <div class="col-md-5"><span th:text="${car.carModel}"></span></div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-1"><b>MSRP:</b></div>
            <div class="col-md-5">$<span th:inline="text">[[${#numbers.formatDecimal(car.msrp, 0, 'COMMA', 2, 'POINT')}]]</span></div>
            <div class="col-md-1"><b>Year:</b></div>
            <div class="col-md-5"><span th:text="${car.year}"></span></div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-1"><b>Color:</b></div>
            <div class="col-md-5"><span th:text="${car.color}"></span></div>
            <div class="col-md-1"><b>Category:</b></div>
            <div class="col-md-5"><span th:text="${car.category.categoryName}"></span></div>
            <br />
        </div>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:replace="base :: jsFooter"></div>
    <!-- END JS code -->
</body>
</html>